@page
@model webapp.Pages.StronaGłosowania.GlosModel
@{
    ViewData["Title"] = "Obsługa rezerwacji";
    Layout = "../Shared/_LayoutUser.cshtml";
}
<form method="post">
    <h1>Zagłosowano</h1>
    <a asp-page="./Index">Wróć do listy</a>
</form>