@page
@model webapp.Pages.AboutUsModel
@{
}

<style>
    body {
        background-image: url(http://www.barwonfoods.com/wp-content/uploads/2014/04/ESP-69.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<div style="        width: auto;
        background: rgb(255, 255, 255); /* Fallback for older browsers without RGBA-support */
        background: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        border: solid;
        border-width: 1px;
        padding: 10px;
        align-content:center;
">
    <p>Situata nella bassa Pianura Padana, poco oltre la linea delle risorgive presso la sponda destra del fiume Serio, è il centro principale della provincia dopo il capoluogo Cremona e dà il proprio nome a tutta la parte settentrionale del territorio provinciale: il Cremasco. Il comune appartiene alla regione agraria nº 2 (pianura di Crema) ed è inserito nel contesto del Parco del Serio, a 79 metri sul livello del mare, dista da Cremona 40 km.</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/Map_of_comune_of_Crema_%28province_of_Cremona%2C_region_Lombardy%2C_Italy%29.svg/1024px-Map_of_comune_of_Crema_%28province_of_Cremona%2C_region_Lombardy%2C_Italy%29.svg.png"
         alt="To jest to, co robilem zamiast antybota przy rejestracji..."
         height="400"
         width="600"/>
</div>