@page
@model webapp.Pages.ContactModel
@{
}

<style>
    body {
        background-image: url(http://www.barwonfoods.com/wp-content/uploads/2014/04/ESP-69.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<div style="        width: auto;
        background: rgb(255, 255, 255); /* Fallback for older browsers without RGBA-support */
        background: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        border: solid;
        border-width: 1px;
        padding: 10px;
">
    <h1>Contact us</h1>
    <br/>
    <h3>Customer's support</h3>
    <p>E-mail: 3cytryny@zbyszko.eu</p>
    <p>Infolinia: (+48)666 696 969</p>
    <br/>
    <h3>Webmaster</h3>
    <p>E-mail: tomeczek12@zbyszko.eu</p>
    <br/>
    <h3>US President</h3>
    <p>E-mail: presidentus1@zbyszko.eu</p>
</div>